* {
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
}

button {
    padding: 5px;
}

/* nav */

nav {
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    background: white;
    position: fixed;
    width: 100%;
    border-bottom: 2px dotted black;

}

/* body */

body {
    background-image: url('https://sm.ign.com/ign_ap/screenshot/default/2018012446166639_ayt5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#newTable, #popUp {
    display: none;
    background: white;
    position: relative;
    top: 100px;
}

#popUp {
    position: fixed;
    width: 300px;
    margin: 10% 33%;
    padding: 20px;
    border: 1px solid black;
    background: lightblue;
    z-index: 2;
}

table td {
    height: 40px;
}

table th, table td {
    width: 24vw;
    border: 1pt solid black;
}

.dtlBtn {
    background: gray;
    color: white;
    cursor: pointer;
}

.dtlBtn:hover {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .dtl, .dtlBtn {
        display: none;
    }
}