* {
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
}

button {
    padding: 5px;
}

/* nav */

nav {
    box-sizing: border-box;
    height: 100px;
    padding: 10px;
    background: white;
    position: fixed;
    width: 100%;
    border-bottom: 2px dotted black;
}

/* body */

body {
    background-image: url('https://sm.ign.com/ign_ap/screenshot/default/2018012446166639_ayt5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#newTable, #popUp, #popUpTable {
    display: none;
    background: white;
    position: relative;
    top: 100px;
}

/* pop up table */

#popUpTable {
    position: fixed;
    margin: 2% 10%;
    padding: 20px;
    border: 1px solid black;
    /* background: gray; */
    z-index: 2;
}

.popUpCell {
    width: 200px;
    border: 0px;
    padding: 0;
    margin: 0;
    text-align: center;
    /* font-size: 12px; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* word-wrap: break-word; */
    word-break: break-all;
}

/* pop up details */

#popUp {
    position: fixed;
    width: 60vw;
    height: auto;
    margin: 5% 18%;
    padding: 20px;
    border: 1px solid black;
    background: lightblue;
    z-index: 2;
}


table td {
    height: 40px;
}

table th, table td {
    width: 24vw;
    border: 1pt solid black;
}

/* table tr:nth-child(odd) {
    background: #333;
    color: #fff;
} */

table tr:nth-child(even) {
    background: #eeeeee;
}

table tr:hover {
    background-color: rgba(218, 218, 218, 0.9);
}


.dtlBtn {
    background: gray;
    color: white;
    cursor: pointer;
}

.idBtn {
    cursor: pointer;
}

.dtlBtn:hover {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .dtl, .dtlBtn {
        display: none;
    }
}